* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 22% 80%;
}

/* Navbar */

.sidebar {
    background-color: black;
    height: 100vh;
    color: white;
    width: 20rem;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
}

.list-bottom {
    margin-top: 50px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}

.icon-text p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

li {
    list-style-type: none;
}

/* Main content */

.main {
    display: grid;
    height: 100vh;
    color: black;
    grid-template-rows: 20% 80%;
}

.header {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.navbar {

}

.welcome {
    
}

.content {
    background-color: blue;
}

/* Announcements */

/* Trending */
